<form action="#" class="form" name="order-name">
  <div class="container container--form">
    {% include 'components/Form/header/header.html' %}
    <section class="form__content">
      {% include 'components/Form/document-type/document-type.html' %}
      {% include 'components/Form/upload/upload.html' %}
      {% include 'components/Form/language/language.html' %}
      <div class="form__content-wrapper">
        {% include 'components/Form/tone/tone.html' %}
        {% include 'components/Form/urgency/urgency.html' %}
      </div>
      {% include 'components/Form/payment/payment.html' %}
      {% include 'components/Form/footer/footer.html' %}
    </section>
  </div>
</form>
