<section class="form__tone form-section">
  <h2 class="tone__heading form-section__heading">
    Select your desired tone
  </h2>
  <div class="form__input-wrapper">
    <input
      type="radio"
      name="tone"
      value="friendly"
      id="tone__input--friendly"
      class="tone__input hide-input"
      required
    />
    <label for="tone__input--friendly" class="tone__input-label reset-input icon-element tone__input-label--1"
      >Friendly/Casual</label
    >
    <input
      type="radio"
      name="tone"
      value="corporate"
      id="tone__input--corporate"
      class="tone__input hide-input"
    />
    <label for="tone__input--corporate" class="tone__input-label reset-input icon-element tone__input-label--2"
      >Corporate/Pro</label
    >
    <input type="radio" name="tone" value="media" id="tone__input--media" class="tone__input hide-input" />
    <label for="tone__input--media" class="tone__input-label reset-input icon-element tone__input-label--3"
      >Media/Formal</label
    >
  </div>
  <!--  <i class="fas fa-suitcase"></i> -->
</section>
