<section class="form__document-type form-section">
  <div class="document-type__heading-wrapper">
    <h2 class="document-type__heading">select what you want to translate</h2>
  </div>
  <ul class="document-type__list reset-list">
    <li class="document-type__item">
      <input class="document-type__input hide-input" id="input-website" type="radio" name="document-type" value="website" required/>
      <label for="input-website" class="item-label">
        <img src="img/web-page.png" alt="website" class="item-img" />
        <span>Website</span>
      </label>
    </li>
    <li class="document-type__item">
      <input class="document-type__input hide-input" id="input-documents" type="radio" name="document-type" value="documents" />
      <label for="input-documents" class="item-label">
        <img src="img/document.png" alt="website" class="item-img" />
        <span>Documents</span>
      </label>
    </li>
    <li class="document-type__item">
      <input class="document-type__input hide-input" id="input-social" type="radio" name="document-type" value="social" />
      <label for="input-social" class="item-label">
        <img src="img/social.png" alt="website" class="item-img" />
        <span>Social account</span>
      </label>
    </li>
  </ul>
</section>
