<section class="form__footer form-section">
  <div class="footer__input-wrapper">
    <input type="checkbox" class="footer__input hide-input" id="footer__input" name="terms-conditions" required />
    <label for="footer__input" class="footer__input-label">
      <span class="footer__input-checkmark"></span>
      <p class="footer__text">I agree to the <a href="#" class="footer_link reset-link">Terms &#38; Conditions</a></p>
    </label>
  </div>
  <div class="order_submit-wrapper order__submit-wrapper--footer">
    <button type="submit" class="order__btn--order btn btn--footer">Place order</button>
    <button type="button" class="order__btn--print btn btn--footer">Print a quote</button>
  </div>
</section>
