<section class="form__upload form-section">
  <div class="upload__heading-wrapper">
    <h2 class="upload__heading form-section__heading">
      Upload your documents
      <span class="upload__subtitle">(Doc, Docx, Text, PDF, Markdown)</span>
    </h2>
  </div>
  <div class="upload__input-wrapper">
    <input
      type="file"
      class="upload__input"
      name="upload"
      id="upload__input"
      accept=".doc,.docx,.text,.pdf,.markdown"
      required
    />
    <label for="upload__input" class="upload__input-label reset-input icon-element">
      Upload a new file
    </label>
  </div>
  <p class="upload__request-text">Please, upload your files.</p>
  <table class="upload__table" hidden="hidden">
    <thead>
      <tr>
        <th>File name</th>
        <th>File size</th>
        <th>Number of words</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody class="upload__table-body"></tbody>
  </table>
</section>
