<section class="form__payment form-section">
  <h2 class="payment__heading form-section__heading">
    Sign up and choose a payment method
  </h2>
  <p class="payment__subtitle">
    Already have an account with us? <a href="#" class="payment__link reset-link">Sign in</a>.
  </p>
  <div class="payment__input-wrapper">
    <label for="payment__input--fullname" class="payment__input-label">
      <span class="payment__input-title">full name</span>
      <input
        type="text"
        class="payment__input reset-input"
        id="payment__input--fullname"
        placeholder="Enter your name"
        title="Minimum length is 8 characters"
        minlength="8"
        maxlength="32"
        name="fullname"
        required
      />
      <div class="payment__input-icon"></div>
    </label>
  </div>
  <div class="payment__input-wrapper registrarion">
    <label for="payment__input--email" class="payment__input-label">
      <span class="payment__input-title">Email address</span>
      <input
        type="email"
        class="payment__input reset-input"
        id="payment__input--email"
        placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        name="email"
        required
      />
      <div class="payment__input-icon"></div>
    </label>
    <label for="payment__input--password" class="payment__input-label">
      <span class="payment__input-title">Choose a password</span>
      <input
        type="password"
        class="payment__input reset-input"
        id="payment__input--password"
        placeholder="Create your password"
        title="It must contain at least 1 number, 1 uppercase letter. Do not use any whitespace characters"
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
        name="password"
        required
      />
      <div class="payment__input-icon"></div>
    </label>
  </div>
  <div class="payment__input-wrapper card">
    <label for="payment__input--card-number" class="payment__input-label">
      <span class="payment__input-title">Card number</span>
      <input
        type="text"
        class="payment__input reset-input"
        id="payment__input--card-number"
        placeholder="0000000000000000"
        title="Enter your card number"
        autocomplete="cc-number"
        pattern="[0-9]{16}"
        minlength="16"
        maxlength="16"
        name="card number"
        required
      />
      <div class="payment__input-icon--card"></div>
    </label>
    <label for="payment__input--card-date" class="payment__input-label">
      <span class="payment__input-title">Expiry date</span>
      <input
        type="text"
        class="payment__input reset-input"
        id="payment__input--card-date"
        placeholder="MM/YY"
        title="Enter your card expiry date"
        minlength="4"
        maxlength="4"
        name="card date"
        required
      />
    </label>
    <label for="payment__input--card-code" class="payment__input-label">
      <span class="payment__input-title">code</span>
      <input
        type="password"
        class="payment__input reset-input"
        id="payment__input--card-code"
        placeholder="000"
        title="Enter your card CVV code"
        minlength="3"
        maxlength="3"
        name="card code"
        required
      />
    </label>
  </div>
</section>
