<section class="form__urgency form-section">
  <h2 class="urgency__heading form-section__heading">
    Tell us how urgent this work is
  </h2>
  <div class="urgency__input-wrapper">
    <input type="range" class="urgency__input hide-input" id="urgency__input" min="0" max="2" step="1" />
    <label for="urgency__input" class="urgency__input-label">
      <span>I got time</span>
      <span>Average</span>
      <span>Yesterday</span>
    </label>
  </div>
  <div class="urgency__input-description">
    <h4 class="input-description-title">Timeline info</h4>
    <p class="input-description-text">
      With an <span class="urgency__input-value">average</span> timeline set up, our expert translator can take a
      reasonable amount of time perfecting your translation.
    </p>
  </div>
</section>
