<section class="form__language form-section">
  <h2 class="language__heading form-section__heading">
    Choose your languages pairings
  </h2>
  <div class="language__select-wrapper">
    <span class="language__select-text">from</span>
    <select
      name="from-language"
      id="language__select--from"
      class="chosen-select language__select"
      data-placeholder="Choose language"
      required
    >
      <option value=""></option>
      <option value="Ukrainian">Ukrainian</option>
      <option value="Russian">Russian</option>
      <option value="English" selected>English</option>
      <option value="Deutch">Deutch</option>
    </select>
  </div>
  <div class="language__select-wrapper">
    <span class="language__select-text language__select-text--right">to</span>
    <select
      name="to-language"
      id="language__select--to"
      class="chosen-select language__select"
      data-placeholder="Choose language"
      required
    >
      <option value=""></option>
      <option value="Ukrainian">Ukrainian</option>
      <option value="Russian">Russian</option>
      <option value="English">English</option>
      <option value="Deutch">Deutch</option>
    </select>
  </div>
</section>
