<section class="form__header">
  <h2 class="form__header-title" hidden>header</h2>
  <div class="form__header-wrapper order">
    <div class="order__information">
      <h3 class="order__information-title">Your order</h3>
      <ul class="order__list reset-list">
        <li class="order__list-item">
          <span class="item-title">Items</span>
          <span class="item-content">2 documents</span>
        </li>
        <li class="order__list-item">
          <span class="item-title">Details</span>
          <span class="item-content">2 languages</span>
        </li>
        <li class="order__list-item">
          <span class="item-title">Price</span>
          <span class="item-content">$ 696.06</span>
        </li>
        <li class="order__list-item">
          <span class="item-title">Delivery</span>
          <span class="item-content">48 hours</span>
        </li>
      </ul>
    </div>
    <div class="order_submit">
      <div class="order_submit-wrapper">
        <button type="submit" class="order__btn--order btn">Place order</button>
        <button type="button" class="order__btn--print btn">Print a quote</button>
      </div>
    </div>
  </div>
  <div class="form__header-wrapper contacts">
    <h4 class="contacts__title">Help center</h4>
    <p class="contacts__text">
      If you need assistance while placing your order,contact one of you beloved Project Manager by phone or email.
    </p>
    <span>
      <a class="contacts__link reset-link" href="tel:+9710555555">+971 (0) 555 555</a>
    </span>
    <span>
      <a class="contacts__link reset-link" href="mailto:help@qtest.com">help@qtest.com</a>
    </span>
  </div>
</section>
